/.vscode
/allMyCats.py
/Animazione1.py
/Birthdays.py
/BitDec.py
/blank.py
/BubbleSort.py
/butta.py
/Cell.bat
/Cell.py
/collatz.py
/DecBit.py
/DizionariAnnidati.py
/Dizionario.py
/economyES.py
/exitEsample.py
/FisicaDelPendolo.py
/GiocoFantasy.py
/global.py
/GUI.py
/GUI2.py
/GUIsum.py
/h.html
/helloFunc.py
/IntOrChar.py
/isPhoneNumber.py
/launch.json
/ListaWiki.py
/Magic8ball.py
/MagicBall2.py
/ManipStringhe.py
/Matrice.py
/Ndispari.py
/PendoloFisico.py
/PensaNumero.py
/prettyCharacterCount.py
/PrezzoQuantità.py
/PrimoPythonSketch.py
/prova.py
/PW.bat
/PW.py
/Regex1.py
/sassoCartaForbice.py
/SequenzaOraria.py
/settings.json
/SommaInteri.py
/SQL.py
/Triangolo.py
/Tris.py
/__pycache__